<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head" />
<body>
<div th:replace="fragments/header.html :: header ('user')"></div>
<div class="row">
  <form class="offset-4 col-4 form-group user-form" th:method="post" th:action="@{/users/edit}" th:object="${userDto}" align="left">
    <div>
      <label th:for="loginId">ユーザーID (ユーザーIDは変更できません)</label><br/>
      <input type="text" th:field="*{loginId}" readonly/>
    </div>
    <br/>
    <div>
      <label th:for="nowPassword">現在のパスワード</label><br/>
      <input type="password" th:field="*{nowPassword}" placeholder="現在のパスワードを入力してください。"
             th:errorclass="error-input"/>
      <div th:class="error-div" th:errors="*{nowPassword}"/>
    </div>
    <br/>
    <div>
      <label th:for="newPassword">新しいパスワード (変更しない場合は空欄にしてください)</label><br/>
      <input type="password" th:field="*{newPassword}" placeholder="新しいパスワードを入力してください。（最大10文字）"
             th:errorclass="error-input"/>
      <div th:class="error-div" th:errors="*{newPassword}"/>
    </div>
    <br/>
    <div>
      <label th:for="newPasswordCheck">新しいパスワードの確認</label><br/>
      <input type="password" th:field="*{newPasswordCheck}" placeholder="新しいパスワードをもう一度入力してください。"
             th:errorclass="error-input"/>
      <div th:class="error-div" th:errors="*{newPasswordCheck}"/>
    </div>
    <br/>
    <div>
      <label th:for="nickname">ニックネーム (最大10文字)</label><br/>
      <input type="text" th:field="*{nickname}" th:errorclass="error-input"/>
      <div th:class="error-div" th:errors="*{nickname}"/>
    </div>
    <br/><br/>
    <div align="center">
      <button class="btn user-btn" type="submit">情報修正</button>
    </div>
  </form>
</div>
</body>
</html>
