<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head" />
<body>
<div th:replace="fragments/header.html :: header ('user')"></div>
<div class="row">
  <form class="offset-4 col-4 form-group user-form" th:method="post" th:action="@{/users/join}" th:object="${userJoinRequest}" align="left">
    <div>
      <label th:for="loginId">ユーザーID (ユーザーIDは変更できません)</label><br/>
      <input type="text" th:field="*{loginId}" placeholder="ユーザーIDを入力してください。（最大10文字）"
             th:errorclass="error-input"/>
      <div th:class="error-div" th:errors="*{loginId}"/>
    </div>
    <br/>
    <div>
      <label th:for="password">パスワード</label><br/>
      <input type="password" th:field="*{password}" placeholder="パスワードを入力してください。"
             th:errorclass="error-input"/>
      <div th:class="error-div" th:errors="*{password}"/>
    </div>
    <br/>
    <div>
      <label th:for="passwordCheck">パスワード確認</label><br/>
      <input type="password" th:field="*{passwordCheck}" placeholder="パスワードをもう一度入力してください。"
             th:errorclass="error-input"/>
      <div th:class="error-div" th:errors="*{passwordCheck}"/>
    </div>
    <br/>
    <div>
      <label th:for="nickname">ニックネーム</label><br/>
      <input type="text" th:field="*{nickname}" placeholder="使用するニックネームを入力してください。（最大10文字）"
             th:errorclass="error-input"/>
      <div th:class="error-div" th:errors="*{nickname}"/>
    </div>
    <br/><br/>
    <div align="center">
      <button class="btn user-btn" type="submit">会員登録</button>
    </div>
  </form>
</div>
</body>
</html>
