<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"><title>home</title></head>
<body>
<div th:replace="fragments/header.html :: header ('home')"></div>
<div class="row">
  <div class="offset-1 col-5 card" style="height: fit-content">
    <div class="card-body">
      <h2>掲示板の説明</h2>
      <h5>&ast; 会員登録をするとBRONZEランクになります。</h5>
      <h5>&ast; 登録挨拶を残すとSILVERランクに昇格します。</h5>
      <h5>&ast; SILVERランク以上のユーザーのみ、自由掲示板に投稿ができます。</h5>
      <h5>&ast; 自分のすべての投稿に合計10件以上の「いいね」がつくと、GOLDランクに昇格します。（自分の「いいね」は除外）</h5>
      <h5>&ast; GOLDランクのユーザーのみ、ゴールド掲示板に入場できます。</h5>
      <h5>&ast; マイページにGOLDランクと表示されているが、ゴールド掲示板に入れない場合は、再度ログインしてください。</h5>
      <h5>&ast; 他人に不快感を与える投稿をするとBLACKLISTになる可能性があります。</h5>
      <h5>&ast; BLACKLISTは投稿やコメントができません。</h5>
      <h5>&ast; 管理者はすべての投稿やコメントを削除することができます。</h5>
      <h5>&ast; マイページでは自分の情報の確認や修正が可能です。</h5>
      <h5>&ast; マイページでは、自分が作成した投稿、いいねを押した投稿、コメントを残した投稿を確認することができます。</h5>
    </div>
  </div>
  <div class="offset-2 col-3">
    <div class="card" style="height: fit-content">
      <div class="card-body">
        <h2>全ユーザー情報</h2>
        <h5>&ast; 全ユーザー: [[${userCntDto.totalUserCnt}]]名</h5>
        <h5>&ast; 管理者: [[${userCntDto.totalAdminCnt}]]名</h5>
        <h5>&ast; BRONZEユーザー: [[${userCntDto.totalBronzeCnt}]]名</h5>
        <h5>&ast; SILVERユーザー: [[${userCntDto.totalSilverCnt}]]名</h5>
        <h5>&ast; GOLDユーザー: [[${userCntDto.totalGoldCnt}]]名</h5>
        <h5>&ast; BLACKLISTユーザー: [[${userCntDto.totalBlacklistCnt}]]名</h5>
      </div>
    </div> <br/>
    <div class="card" style="height: fit-content">
      <div class="card-body">
        <h2>全掲示板情報</h2>
        <h5>&ast; 全投稿: [[${boardCntDto.totalBoardCnt}]]件</h5>
        <h5>&ast; お知らせ: [[${boardCntDto.totalNoticeCnt}]]件</h5>
        <h5>&ast; 登録挨拶: [[${boardCntDto.totalGreetingCnt}]]件</h5>
        <h5>&ast; 自由掲示板投稿: [[${boardCntDto.totalFreeCnt}]]件</h5>
        <h5>&ast; ゴールド掲示板投稿: [[${boardCntDto.totalGoldCnt}]]件</h5>

      </div>
    </div>
  </div>
</div>
</body>
<style>
  h2 {
    margin-bottom: 20px;
  }
  h5 {
    margin-bottom: 10px;
  }
</style>
</html>